.search-element {
    width: 30%;
    margin-left: auto;
    input{
        width: 93%;
        padding: 10px;
        margin-bottom: 10px;
       
    }
    @media (max-width: 650px) {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}